<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS Example</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Personal Blog</h1>
        <button>+ Add</button>
      </div>

      <ul class="comical-list">
        <% articles.forEach(function(article) { %>
        <li>
          <div>
            <a href="/article/<%= article.url %>"><%= article.articleName %></a>
          </div>
          <div><%= article.dateCreated %></div>
          <div class="grid-button">
            <% if (admin) { %>
            <p>Edit</p>
            <p>Delete</p>
            <% } %>
          </div>
        </li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
